body{
    background-color:rgb(46, 46, 46);
}

.Logo {
    width: 150px;
    height: 90px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Navegador {
    color: white;
    text-align: right;
}

.NombreMarca {
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: blueviolet;
    text-align: center;
}

.Titulo {
    font-size: 50px;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.Subtitulos {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.FotoP{
    width: 1500px;
    height: 466px;
    background: white;
}

.FotoP:hover { 
    filter: grayscale(75%); 
}

.Img {
    width: 300px;
    height: 400px;
    border: solid 5px blueviolet;
    margin: 20px;
    
    transition: transform .2s; 
}


.Img:hover {
    transform: scale(1.075); 
    filter: grayscale(75%); 
}

.Categorias {
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}

.DescripcionFoto {
    width: 300px;
    height: 400px;
    margin: 20px;
}

.VideoTopgun {
    height: 400px;
    width: 900px;
}